@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tables */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    @apply shadow-lg;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @apply text-gray-800;
}

@media screen and (max-width: 599px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

/* Font */
h1 {
    @apply text-6xl font-semibold;
}

h2 {
    @apply text-5xl font-semibold;
}

h3 {
    @apply text-4xl font-semibold;
}

h4 {
    @apply text-3xl font-semibold;
}

h5 {
    @apply text-2xl font-semibold;
}

h6 {
    @apply text-lg font-semibold;
}

/* Layout */

.section {
    @apply p-4 bg-white rounded shadow;
}
